<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.alex.paypal_forms_test_pcl">
	<uses-sdk android:minSdkVersion="15" />
	<uses-sdk android:minSdkVersion="16" />
	<!-- for card.io card scanning -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<!-- for most things, including card.io and paypal -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:allowBackup="true" android:label="PayPal.Forms.Test.PCL">
		<service android:exported="false" android:name="com.paypal.android.sdk.payments.PayPalService" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
		<activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
		<activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
		<activity android:configChanges="keyboardHidden|orientation" android:name="io.card.payment.CardIOActivity" />
		<activity android:name="io.card.payment.DataEntryActivity" />
	</application>
</manifest>